<h1> <%= @task.title %> </h1>
<% @task.completed ? done = "âœ… It is done!" : done = "â­•ï¸ Do it now!" %>
<h2> <%= @task.details %> </h2>
<h3> <%= done %> </h3>

<p> <%= link_to "ðŸ–‹ edit this task", edit_path(@task) %> </p>

<p> <%= link_to "âš ï¸ delete this task âš ï¸", delete_path(@task) %> </p>

<p> <%= link_to "<-- Back to all Tasks", tasks_path %> </p>
